
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.welcome{
    border-radius: 16px;
    margin-top: 7%;
    background:#fff;
}
.head-text{
    padding-top:25%;
    font-family: "Apple Color Emoji";
}

.welcome-text{
    font-size: 18px;
    padding-top:5%;
}

.btn-start-setup{
    margin-top: 8%;
    float: right;
    margin-right: 20px;
}

.head-text-start{
    margin-top: 10%;
    font-family: "Apple Color Emoji";
    width: 300px;
    margin-left: 12%;

}
.btn-start{
    margin-bottom: 8%;
    float: right;
    margin-right: 20px;
}
.setup-logo{
    width: 48px;
    height: 48px;
    margin-top: 35%;
    margin-left: 110%;
}
.background{
    background-image: url('../img/background-setup.png');
}
.setup-text{
    font-size: 18px;
    padding-top:5%;
    text-align: center;
}
.setup-header{
    padding: 10px 10px;
}
.setup-header h2{
    font-family: "Apple Color Emoji";
}
.setup-header p{
    font-family: 'Noto Sans JP', sans-serif;
}
.form-eleman{
    margin: 10px;
}
.login-header-text{
    color: #000;
    font-size: 28px;
    font-family: "Apple Color Emoji";
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 6px;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar{
    background-color: #00194A;
}
.settings{
    margin-left: 70%;
}
.no-border{
    border:none;
}
.hompage-info-item{
    border-radius: 6px;
    margin-left: 15px;
}
.hompage-info-footer{
    background-color:#00194A;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.hompage-info-footer a{
    color:white;
    text-decoration: none;
}
.info-text{
    font-size:22px;
    font-family: 'Libre Baskerville', serif;
}
.info-name{
    font-size:22px;
    font-family: "Apple Color Emoji";
    font-weight: bold;
}
.head{
    background-color:#00194A;
    color:#fff;
    padding:7px 7px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.transactions{
    margin-top:40px;
}
.transactions-item{
    margin-top: 40px;
    margin-bottom: 50px;
}
.tr-list{
    margin-left:0.03%;
}
.tr-list-item{
    margin:20px 10px;
}
.tr-list-item-image{
    padding: 7px 7px;
}
.tr-list-item-name{
    text-decoration: none;
    color:#212121;
    padding-top: 8%;
    font-size:21px;
    font-family: 'Times New Roman', Times, serif;
}
.tr-list-item:hover .tr-list-item-image{
    color:#00194A;
    margin-top:-5px;
    transition: .3s;
}
.footer{
    background-color: #00194A;
    height: 10px;
}
.tablo{
    margin-top: 50px;
}
.t-head{
    background-color: #00194A;
}
.t-head-item{
    color:#fff;
}
.btn-addNew{
    float:right;
}

.headline-text{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}
.layoutHead{
    background-color: #00194A;
    height: 8px;
   
}
.layoutBody{
    
}
.layoutFotter{
    margin:20px 20px;
    float: right;
}
.hucregrup{
    margin-top:15px;
    padding: 8px 8px;
}
.btnFooter{
    
}
.btnFooterText{
    margin-left:5px;
    font-family: 'Times New Roman', Times, serif;
}
.btnImg{
    width: 20px;
    height: 20px;
    margin-left:20%;
}
.date{
    float:right;
}
.note_content
{
    margin-top:10px;
}
.user-info
{
    margin-bottom: 10px;
}
.subject{
    margin-top: 10px;
}
.camera{
    margin-left: 0px;
    margin: 0;
    padding: 0;
    margin-left: -2%;
}
.photo{
    margin-left:50px;

}
.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}
.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}
.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}
.invoice-box table tr td:nth-child(2) {
    text-align: right;
}
.invoice-box table tr.top table td {
    padding-bottom: 20px;
}
.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}
.invoice-box table tr.information table td {
    padding-bottom: 40px;
}
.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
.invoice-box table tr.details td {
    padding-bottom: 20px;
}
.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}
.invoice-box table tr.item.last td {
    border-bottom: none;
}
.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {

.invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
}

.invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
}
.photo{
    margin-left:0px;
}
.camera{
    margin-left:0px;
}
.tablo{
    margin-left: -5px;
}
}
@media only screen and (max-width: 1000px)
{
    .settings{
        margin-left: 0px;
    }
    .no-border{
        border:none;
    }
    .no-border:active{
        border:none;
    }
    .no-border:hover{
        border:none;
    }
    .no-border:target{
        border:none;
    }
    .tr-list-item-name{
        padding-bottom:5px;
    }
    .camera{
      margin-left:0px;
    }
}
@media only screen and (max-width: 900px)
{
    .hompage-info-item{
        margin-top:20px;
        margin-left: 0px;
    }
    .tr-list-item-name{
        padding-top: 5px;
        text-align: center;
    }
    .tr-list-item:hover .tr-list-item-image{
        margin-top:0px;
    }
    .camera{
                        margin-left:0px;
                    }
    
}